body {
    font-family: 'Verdana', sans-serif;
    margin: 50px 25px;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background: white;
    position: relative;
    overflow: hidden; 
    animation-name: changeBackground;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes changeBackground {
  0% {
      background-image: url('img/background1.png');
  }
  12.5% {
      background-image: url('img/background2.png');
  }
  25% {
      background-image: url('img/background3.png');
  }
  37.5% {
      background-image: url('img/background4.png');
  }
  50% {
      background-image: url('img/background5.png');
  }
  62.5% {
      background-image: url('img/background6.png');
  }
  75% {
      background-image: url('img/background7.png');
  }
  87.5% {
      background-image: url('img/background8.png');
  }
  100% {
      background-image: url('img/background9.png');
  }
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    background: #daeef3;
    padding: 20px 30px;
}

header h1 {
    color: #169bbd;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #f1fbfe;
}

